.App {
  text-align: center;
  height: 100vh;
  background: url('http://www.daviemurray.com/Sabacc/Images/sabacc_full_background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.App h1{
  margin: 0;
  padding-top: .5em;
  padding-bottom: .5em;
  color: yellow;
}
