section {
    height: 100vh;
    scroll-snap-align: start;
    color: white;
    
}
h2{
    font-size: 1.5em;
    margin-bottom: 5%;
}
h1{
    font-size: 3em;
}
/* Body */
.Home-container{
    scroll-snap-type: y proximity;
    overflow-y: scroll;
    height: 100vh;
    scroll-behavior: smooth;
}
.Home-img-wrapper{
    grid-column: 1/6;
    /* align-self: right; */
    position: sticky;
    top: 2em;
    height: 280px;
    width: 90%;
    /* align-items: flex-end; */
}
.Home-img-container{
    height: 250px;
    width: 100%;
    overflow: hidden;
}
.Home-img-subtext{
    color:#ACACAC;
    font-weight: 300;
    text-align: center;
    font-style: italic;
    margin: 0;
}


/* Intro --------------------------------------------------------------*/
.Home-intro{
    background:yellow;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Home-intro-header{
    width: 30%;
    height: 100%;
    padding-top: 0%;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    
}
.Home-intro-header h1, .Home-intro-header h3, .Home-intro-header p{
    padding-bottom: 20px;
}
.Home-intro-header p{
    line-height: 1.5em;
}

@media (max-width:60em){
h1{
    font-size: 1.5em;
}
.Home-intro-header{
    width: 90%;
}
}

/* Goal ---------------------------------------------------------*/
.Home-goal{
    background: #0A0A0A;
}
.Home-goal{
    height: 100vh;
}
.Home-goal h2{
    height: 10%;
    margin: 0;
    font-size:3em;
    text-align: center;
    padding: .5em 0 0 0;
}
.Home-goal span{
    color: yellow;
    font-weight: 700;
}
.Home-goal-content-wrapper{
    height: 80%;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 1em;
}
.Home-goal-section-one, .Home-goal-section-two, .Home-goal-section-three{
    /* width:100%;
    display: grid;
    grid-template-columns: 3fr 3fr;
    grid-gap: 0 2em;
    /* grid-auto-rows: minmax(150px, 300px);
    padding: 0 5em 2em 5em; */
    grid-template-rows: auto 1fr;
    grid-template-columns: repeat(12,1fr);
    grid-row-gap: 0;
    grid-column-gap: 36px;
    max-width: 75rem;
    margin: 2em auto;
    display: grid;
}
.Home-goal-section-one p, .Home-goal-section-two p, .Home-goal-section-three p{
    
    /* width: 70%; */
}
.img-sabacc-deck{
    align-self: auto;
}
.Home-goal-section-one-content{
    display: flex;
    /* justify-content: space-between; */
    align-items: flex-start;
    flex-direction: column;
    grid-column: 6/-1;
}
.content-one{
    padding-bottom: 5%;
}
.goal-section-two{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    grid-column: 6/-1;
}


@media (max-width:60em){
    .Home-goal h2{
        font-size: 1.5em;
        height: 2em;
    }
    .Home-goal-section-one, .Home-goal-section-two, .Home-goal-section-three{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin: 0;
    }
    .Home-img-wrapper{
        position: relative;
        width: 100%;
        margin: 2em 0;
    }
    .Home-goal{
        height: fit-content;
    }
    .Home-goal p{
        padding-bottom: 1em;
    }
    
}



/* Rules -------------------------------------------------------------*/
.Home-rules{
    background: #707070;
    color: white;
    height: 200vh;
}

.Home-img-disney_world{
    margin-top: -35%;
    width: 100%;
    
}
.Home-img-sabacc_deck{
    width: 100%;
}
.Home-rules-content-wrapper span{
    color: yellow;
    font-weight: 700;
}
.Home-rules-h1-span{
    color: yellow;
}
.Home-rules-content-wrapper{
    /* display: flex;
    height: 80%;
    width: 80%;
    justify-content: space-around;
    align-items: flex-start;
    margin: 0 auto; */
    grid-template-rows: auto 1fr;
    grid-template-columns: repeat(12,1fr);
    grid-row-gap: 0;
    grid-column-gap: 36px;
    max-width: 75rem;
    margin: 2em auto;
    display: grid;
}
.Home-rules-section-one, .Home-rules-section-two, .Home-rules-section-three{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 0% 0 2.5% 0;
    
}
.Home-rules-section-one{
    justify-content: top;
}
.Home-rules-section-three{
    justify-content: top;
}
.Home-rule-next span{
    color: yellow;
}
.Home-img-sabacc_cards{
    width: 100%;

}
.Home-rules ul, ol{
    padding: 2.5% 0 2.5% 10%;
}
.Home-rules h1{
    height: 5%;
    text-align: center;
    padding: 2% 0 0 0;
}
.Home-rules h2{
    height: 10%;
    margin: 0;
    font-size: 3em;
    text-align: center;
    padding: .5em 0 0 0;
}
.rules-img{
    padding: 3% 0 0% 0;
}
.objective-content, .mechanics-content, .gameplay-content{
    grid-column: 6/-1;
}
.Home-rules p, .Home-rules h3, .Home-rules ol, .Home-rules ul{
    /* padding-bottom: 10px; */
    line-height: 1.5em;
}
@media (max-width: 60em){
    .Home-rules h2{
        font-size: 1.5em;
        height: 2.5%;
    }
    .Home-rules-content-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        padding: 0 .5rem;
    }
    .Home-rules{
        /* height: 220vh; */
        height: fit-content;
    }
}

@media (max-width: 50em) {
    .Home-rules{
        /* height: 235vh */
    }
}
@media(max-width: 40em){
    .Home-rules{
        /* height: 280vh; */
    }
}

/* Hands ---------------------------------------------------------------- */

.Home-hands{
    background: #0A0A0A;
    z-index: -2;
    height: fit-content;
}
.Home-hands span{
    color: yellow;
    font-weight: 700;
}
.Home-hands-container{
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: 0 auto;
}
.Home-hands-notes-container, .Home-hands-winningHands-container{
    margin: 2rem 0 0 0;
}
.Home-hands-notes-container{
    width: 50%;
    /* background: #707070; */
    padding: 1.5rem;
    line-height: 1.5rem;
    position: sticky;
    top: 2rem;
    
}
.Home-hands-winningHands-container{
    width: 35%;
    height: 100%;
    
}
.Home-hands-winningHands-rank-wrapper{
    padding: 1.5rem 0;
    background: #707070;
    z-index: 2;
    position: relative;
}
.winning-hand ol{
    padding: 0;

}
.winning-hand li{
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
padding: 0 1.5rem;
margin-bottom: 1rem;
}
.Hand-img-container{
    margin-top: 1rem;
}
.Hand-img-container img{
    width: 3rem;
    height: auto;
    
}
.calc-btn-container{
    position: sticky;
    bottom: 2rem;
    z-index: -2;
}
.Home-hands-notes-content a{
    display: inline;
    color: yellow;
    font-weight: 700;
}
.calc-btn{


    background: yellow;
    padding: 1rem;
    margin: 0 auto;
    width: 75%;
    font-size:1.5rem;
    color: black;
    font-weight: bold;
    text-align: center;

    position: sticky;
    bottom: 0px;
    z-index: 1;
    
    transition: ease-out .6s;
    
}
.calc-btn:hover{
    /* color: white;
    background: black; */
    cursor: pointer;
    box-shadow: inset -500px 0px 0px 0px white;
}
li>div>p{
    color: yellow;
    font-style: italic;
    margin-top: .5rem;
}
@media (max-width:70em){
    .Home-hands-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        width: 100%;
    }
    .Home-hands-notes-container{
        position: relative;
        width: 90%;
    }
    .Home-hands-winningHands-container{
        width: 90%;
    }
}