.Navbar-bottom{
    position: fixed;
    z-index: 2;
    height: 100vh;
    width: 100%;
    top: 95%;
    left: 0%;
    color: white;
    text-decoration: none;
    text-align: center;
}
.Navbar-top{
    position: fixed;
    z-index: 2;
    height: 100vh;
    width: 100%;
    top:5%;
    left:80%
}
.Navbar-btn-div{
    background: none;
    border: none;
    font-weight: 500;
    color: #0A0A0A;
    display: flex;
    height: 3em;
    width: 12em;
    justify-content: center;
    align-items: center;
    transition: ease .5s;
   
}
.Navbar-btn-div:hover{
    color: white;
    background: #0A0A0A;
    cursor: pointer;
}
a{
    color: #ACACAC;
    text-decoration: none;
}
.Navbar-bottom a{
    text-decoration: none;
    padding-left: 1%;
}
.fa-dot-circle{
    color: #ACACAC;
}
.Navbar-bottom li{
    display: inline;
}
.intro{
    color: yellow;
}
.goal{
    color: #0A0A0A;
}
.rules{
    color: #707070;
}
