.Navbar-bottom{
    position: fixed;
    z-index: 1;
    /* height: 100vh; */
    /* width: 100%; */
    top: 50%;
    left: 0%;
    color: white;
    text-decoration: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}
a{
    color: #ACACAC;
    text-decoration: none;
    display: block;
}
.Navbar-bottom a{
    text-decoration: none;
    margin-top: .5em;
    margin-left: 1em;
}
.fa-dot-circle{
    color: #ACACAC;
}
.Navbar-bottom li{
    display: inline;
}
.intro{
    color: yellow;
}
.goal{
    color: #0A0A0A;
}
.rules{
    color: #707070;
}

@media (max-width: 60em) {
    .Navbar-bottom{
        display: none;
    }
}
/* Iphone X */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) {
    .Navbar-bottom{
        display: none;
    }
  }
/* Ipad */
  @media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .Navbar-bottom{
        display: none;
    }
  }

