.prob-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid grey;
    background: linear-gradient(to left top,rgba(255,255,255,0.3), rgba(255,255,255,0.7));
    border-radius: 20px;
    margin-top: 1em;
}
.prob-total{
    width: 20%;
    border: 1px solid grey;
    height: 100%;
    
}
.prob-content{
    width: 60%;
    letter-spacing: 1px;
}
.prob-freq{
    width: 20%;
}