.prob-list-container{
    display: flex;
    width: 80%;
    height: 80%;
    justify-content: center;
    align-items: center;
    margin: auto;
    overflow: scroll;
    margin-top:20px;
    background: linear-gradient(to left top,rgba(255,255,255,0.3), 
    rgba(255,255,255,0.7));
    border-radius: 10px;
    padding: 10px;
    /* backdrop-filter: blur(1rem); */
}

.prob-list-container::-webkit-scrollbar{
    background: none;
    
}
.prob-list-container::-webkit-scrollbar-thumb{
    background:linear-gradient(to left top,rgba(255,255,255,0.3), 
    rgba(255,255,255,0.7)); ;
border-radius: 10px;

}

.prob-list-container::-webkit-scrollbar-corner{
    background: none;
    
}
.prob-list{
    width: 80%;
    height: 100%;
}

.prob-list h3{
    font-size: 2em;
}
.prob-list-loading-container{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}