.WinningHands-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid grey;
    background: linear-gradient(to left top,rgba(255,255,255,0.3), rgba(255,255,255,0.7));
    border-radius: 20px;
    margin-top: 1em;
    transition: linear 250ms;
}
.WinningHands-rank{
    width: 20%;
    border: 1px solid grey;
    height: 100%;
    padding-top:auto;
    display: flex;
    justify-content: center;
    align-items:center;
    border-radius: 10px;
    /* box-shadow: inset 0 0 15px 0px green; */
    
}
.WinningHands-content{
    width: 60%;
    height: 100%;
    letter-spacing: 1px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.WinningHands-content img{
    width:3em;
    display: inline;
    height: auto;
}
.WinningHands-freq-wrapper{
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.WinningHands-freq-btn{
    height: 30%;
    width: 5em;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    box-shadow: inset 0px 0 0 0 #31302B;
    background: yellow;
    transition: ease-out .6s ;
}
.WinningHands-freq-btn:hover{
box-shadow: inset -100px 0px 0px 0px white;
    

}
.WinningHands-container:hover{
background:linear-gradient(to top,rgba(0,0,0,0.8), rgba(0,0,0,0.2)); 
color: yellow;

}